# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.venv/
env/
.env/

# Build and distribution
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db
